.aboutContent {
  text-align: center;
}

.blogContent {
  text-align: center;
}

.blogDate {
  margin-top: 1px;
  text-align: center;
}

.blogHeading {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.blogTitle {
  margin-bottom: 1px;
  text-align: center;
}

.header {
  background-color: cadetblue;
  height: 50px;
  margin-bottom: 15px;
}

.headerText {
  padding-top: 10px;
  text-align:left;
}

.infoList {
  list-style: none;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: blue;
}

.photo {
  display: block;
  margin: 0 auto 0 auto;
  width: 300px;
}

.projectsHeading {
  
}

.quickInfo {
  text-align: center;
}
